.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  padding: 5px 20px;
  height: 5vh;
  border-radius: 5px 5px 0 0;
}

.copy-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.code-container {
  border-radius: 0 0 5px 5px;
  margin-top: 0; /* Add this line to remove the top margin */
}

.code-holder {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 5px 10px; 
  }
  
  .copy-button {
    font-size: 14px; 
  }
  
  .code-container {
    padding: 10px; 
  }
}
